ul.breadcrumbs {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li:before {
    padding: 4px;
    color: rgb(126, 126, 126);
    content: "/\00a0";
}
ul.breadcrumbs li a {
    color: rgb(126, 126, 126);
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: black;
}

ul.breadcrumbs li:nth-last-of-type(1) {
    color:rgb(81, 81, 81);
}